.weather-item {

    h5 {
        font-size: 20pt;
    }

    .weekday {
        font-size: 12pt;
    }

    i {
        font-size: 28pt;
        color: $wisteria;
        margin-top: 0.3em;
    }

    p {
        margin-top: 1em;
    }

    .degrees {
        display: inline-flex;
    }

    .high, .low {
        font-size: 20pt;
        span {
            font-size: 8pt;
        }
    }
    .high {
        color: $pomegranate;
        margin-bottom: 0em;
    }
    .low {
        color: $belize;
    }
}
