form div.inline {
    label {
        display: inline-block;
    }

    input {
        float: none;
    }

}

.capped {
    @media screen and (min-width: $desktop-bp) {
        max-width: 300px;
    }
}
