.content {
    margin-top: 20px;
}

nav {
    @extend .u-full-width;
    padding: 15px 15px 0px 15px;
    position: fixed;
    border-bottom: 2px solid $belize;
    min-height: 40px;
    z-index: 100;
    background-color: white;

    .nav {
        margin-bottom: 0em;
    }

    form {
        margin-bottom: 0;
    }

    img {
        width: 100%;
    }

    .degrees {
        margin-left: 1%;
    }

}

.phantom {
    position: relative;
    height: 130px;

    @media screen and (min-width: $desktop-bp) {
        height: 90px;
    }
}

.column, .columns {
    @media (min-width: 550px) {
        margin-left: 1%;
    }
}
