.content {
    margin-top: 20px;
}

.banner-size {
    max-width: 764px;
}

nav {
    @extend .u-full-width;
    padding: 15px 15px 0px 15px;
    position: fixed;
    border-bottom: 2px solid $orange;
    min-height: 60px;
    z-index: 100;
    background-color: white;

    .nav {
        margin-bottom: 1em;
    }

    form {
        margin-bottom: 0;
    }

    img {
        width: 100%;
    }

    .hideable {
        display: none;

        @media screen and (min-width: $desktop-bp) {
            display: initial;
        }
    }
}

.phantom {
    position: relative;
    height: 150px;

    @media screen and (min-width: $desktop-bp) {
        height: 90px;
    }
}

body {
    background: #F7F6F5 !important;
    background-image: linear-gradient( to top right, white, #E2E2E2) !important;
    display: none;
}

a {

    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }

    h5 {
        font-size: 2.0rem;
    }

}
