.content {
    margin-top: 20px;
}

nav {
    @extend .u-full-width;
    padding: 15px 15px 0px 15px;
    position: fixed;
    border-bottom: 2px solid $belize;
    min-height: 40px;
    z-index: 100;
    background-color: white;

    .nav {
        margin-bottom: 0em;
    }

    form {
        margin-bottom: 0;
    }

    img {
        width: 100%;
    }

}

.phantom {
    position: relative;
    height: 100px;

    @media screen and (min-width: $desktop-bp) {
        height: 90px;
    }
}

body {
    background: #F7F6F5 !important;
    background-image: linear-gradient( to top right, white, #E2E2E2) !important;
    display: none;
}

a {

    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }

    h5 {
        font-size: 2.0rem;
    }

}


.column, .columns {
    @media (min-width: 550px) {
        margin-left: 1%;
    }
}
