//Colors
$light-gray     : #DCDCDC;
$emerald        : #2ecc71;
$nephritis      : #27ae60;
$pomegranate    : #c0392b;
$alizarine      : #e74c3c;
$clouds         : #ecf0f1;
$orange         : #f39c12;
$belize         : #2980b9;

//Breakpoints
$desktop-bp     : 750px;
$desktop-hd-bp  : 1200px;
